body {
         width: 100%;
         
         .home_page {
            background-image: url(../img/KF_background2.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            padding-top: 3%;
            
        }
     
        .mission {
            p {
                font-size: 2.5rem;
                color: @text_color;
                // font-family: 'Jim Nightshade', cursive;
                // font-family: 'Yanone Kaffeesatz', sans-serif;
                line-height: normal;
                @media @phone {
                    line-height: 0.8;
                }
            }
            
            .p1 {
                color: rgb(116, 54, 116);
                font-size: 4rem;
                // font-family: 'Zhi Mang Xing', cursive;
                @media @phone {
                    font-size: 1rem;
                    text-align: center;
                }
            }

            .p2, .p3, .p4 {
                font-size: 3rem;
                color: @text_color;
                // font-family: 'Dancing Script', cursive; 
                @media @phone {
                    font-size: 0.2rem;
                
                }
            }

        }//close mission

        .features {
            color: red;
}
}






