

.info {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 100%;

    @media @phone {
        display: flex;
        flex-wrap: wrap;
    }
       
    div {
        display: flex;
        flex-direction: column;
        // align-items: center;
        
        
       
        p, a {
            line-height: normal;
            font-size: 1.6rem;
        }//close p, a

        a {
            color:blue;
            font-weight: 900;

        }//close a

    }//close div
}