

.info {
    color: @text_color;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 5%;

    @media @phone {
        display: flex;
        flex-wrap: wrap;
    }
       
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        
       
        p, a {
            line-height: normal;
            font-size: 1.6rem;
            white-space: nowrap;

        }//close p, a


    }//close div
}