header {

    @media @phone {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .title_logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        
    }
    
    .nav_logo {
    // .display_style(row, center);
    display: flex;
    flex-direction: row;
    justify-content: center;

    @media @phone {
        flex-direction: column;;
    }
    
    }

    .logo {
        width: 5%;
        justify-content: flex-start;

        @media @phone {
            width: 15%;
            height: 15%;
            // justify-content: center;

        }
    }//close logo

    .navbar {
        //.display_style(row, flex-end);
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        @media @phone {
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }
       
        a {
            font-size: 2rem;
            padding: 2rem;
            margin: 0 10px;
            text-decoration: none;
            color: rgb(240, 234, 234);
            @media @phone {
                text-decoration: underline;
                padding: 8px;
            }
            
            &:hover{
                color: blue;
            }
        }//close a
    }//close navbar

    
    
    
}